.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px;
}

.search-box__label {
  font-weight: 500;
  align-self: flex-start;
}

.search-box__input {
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 80%;
}
