.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.search-box {
  padding: 5px 0;
  width: 80%;
}

.search-box__autocomplete {
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 80%;
}

.map-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.map-marker__marker {
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
}
